* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container__header {
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    padding: 0 100px;
    cursor: pointer;
}

.home {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all .4s ease-in-out;
}

.home:hover {
    color: blue;
}

li {
    display: inline;
}

.a__paragraphs {
    text-decoration: none;
    color: #7D7987;
    font-size: 18px;
    transition: all .4s ease-in-out;
}

.a__paragraphs:hover {
    color: yellow;
}

ul {
    display: flex;
    padding: 60px 100px;
    gap: 20px;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif;
    color: red;
    text-align: center;
}

.footer {
    display: flex;
    width: 1349px;
    height: 432px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    justify-content: space-between;
    padding: 124px 130px 0 130px;
    margin: 300px 0 0 0;
}

.one__departament_p {
    font-size: 18px;
    line-height: 28px;
    color: white;
    width: 390px;
}

.help {
    color: white;
    margin: 10px 0;
}

p {
    font-size: 18px;
}

.container {
    width: 1340px;
    max-width: 1340px;
}

a {
    text-decoration: none;
    color: white;
}